* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  background-color: white;
  color: #000;
  font-family: "Arial", sans-serif;
  font-size: 16px; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.header {
  width: 100%;
  background: #02A7D8;
  color: white;
  display: table; }
  .header__box {
    display: table-cell;
    vertical-align: middle;
    height: 220px; }
  .header__bottom {
    background: #8fc8d8;
    width: 100%;
    height: 50px; }

.main-buttons {
  background: white;
  width: 100%;
  display: table;
  height: 100px; }
  .main-buttons button {
    padding: 15px 40px;
    outline: none; }
  .main-buttons__left {
    float: left;
    width: 50%;
    text-align: right;
    line-height: 100px; }
  .main-buttons__right {
    float: left;
    width: 50%;
    text-align: left;
    line-height: 100px;
    padding-left: 2%; }
  .main-buttons__calc {
    border: 2px solid #02A7D8;
    color: #02A7D8;
    background: white; }
  .main-buttons__plans {
    background: grey;
    color: white;
    border: 2px solid grey;
    border: none; }

.main__left {
  width: 50%;
  float: left;
  text-align: right;
  color: white;
  padding-bottom: 150px; }
  .main__left .left__box {
    background: #02A7D8;
    padding: 25px 25px 0 0;
    height: 500px;
    margin-bottom: 20px; }
    .main__left .left__box .left__list {
      display: inline-table; }
      .main__left .left__box .left__list .left__icon {
        display: table-cell; }
      .main__left .left__box .left__list .left__content {
        display: table-cell;
        text-align: left;
        padding-left: 15px; }
        .main__left .left__box .left__list .left__content .left__btn {
          border: 2px solid #ccc;
          padding: 5px 15px;
          background: #02A7D8;
          color: white;
          margin: 10px 0; }
  .main__left .left__bottom {
    background: white;
    color: #000; }

.main__right {
  width: 40%;
  min-height: 500px;
  background: #f4f4f4;
  float: left;
  padding-left: 25px; }
  .main__right .right__plans-btn .plans-btn__list .plans-btn__item {
    float: left;
    margin-right: 2%;
    padding: 10px;
    border: 2px solid #02A7D8; }
  .main__right .right_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #02A7D8; }
    .main__right .right_table tr {
      border: 1px solid #02A7D8; }
      .main__right .right_table tr td {
        padding: 10px 0; }
