@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic");
input[type=range] {
  height: 27px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  -webkit-box-shadow: 0px 0px 1px #4DC2E2;
          box-shadow: 0px 0px 1px #4DC2E2;
  background: #FFFFFF;
  border-radius: 0px;
  border: 0px solid #4DC2E2; }

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 0px #4DC2E2;
          box-shadow: 0px 0px 0px #4DC2E2;
  border: 1px solid #4DC2E2;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.5px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFFFFF; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 1px #4DC2E2;
  background: #FFFFFF;
  border-radius: 0px;
  border: 0px solid #4DC2E2; }

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #4DC2E2;
  border: 1px solid #4DC2E2;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #FFFFFF;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #FFFFFF;
  border: 0px solid #4DC2E2;
  border-radius: 0px;
  box-shadow: 0px 0px 1px #4DC2E2; }

input[type=range]::-ms-fill-upper {
  background: #FFFFFF;
  border: 0px solid #4DC2E2;
  border-radius: 0px;
  box-shadow: 0px 0px 1px #4DC2E2; }

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #4DC2E2;
  border: 1px solid #4DC2E2;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #FFFFFF;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #FFFFFF; }

input[type=range]:focus::-ms-fill-upper {
  background: #FFFFFF; }

.radio {
  vertical-align: top;
  width: 2px;
  height: 2px;
  margin: 0 3px 0 0; }

.radio + label {
  cursor: pointer; }

.radio:not(checked) {
  position: absolute;
  opacity: 0; }

.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px; }

.radio:checked ~ label {
  background: #fff !important;
  color: #00a7d6 !important; }

.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 50px;
  left: 40px;
  width: 10px;
  height: 10px;
  border: 3px solid #4dc2e2;
  border-radius: 50%;
  background: #FFF; }

.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 55px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #00a7d6;
  opacity: 0; }

.radio:checked + label:after {
  opacity: 1; }

#radio3.radio:not(checked) + label:before {
  top: 50px;
  left: 55px; }

#radio3.radio:not(checked) + label:after {
  top: 55px;
  left: 60px;
  width: 6px;
  height: 6px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  background-color: white;
  color: #000;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px; }

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 80px; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.header {
  width: 100%;
  background: #00a7d6;
  color: white;
  display: table; }
  .header__box {
    display: table-cell;
    vertical-align: middle;
    height: 215px; }
  .header__h1 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 18px;
    padding-bottom: 0; }
  .header__under-line {
    position: relative;
    margin-bottom: 10px; }
  .header__under-bold {
    display: block;
    width: 55px;
    height: 3px;
    background: #fff; }
  .header__under-thin {
    position: absolute;
    top: 0;
    left: 55px;
    display: block;
    width: 190px;
    background-color: #10add9;
    height: 1px;
    margin-top: 1px; }
  .header__subheader {
    font-size: 1.3125rem; }
  .header__bottom {
    background: url("../img/line_under_header.jpg") no-repeat center;
    width: 100%;
    height: 61px; }

.main-buttons {
  background: white;
  width: 100%;
  display: table;
  height: 130px; }
  .main-buttons button {
    outline: none;
    font-size: 1.313rem;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in; }
  .main-buttons__left {
    float: left;
    width: 50%;
    text-align: right;
    line-height: 130px; }
  .main-buttons__right {
    float: left;
    width: 50%;
    text-align: left;
    line-height: 130px;
    padding-left: 1.3125rem; }
  .main-buttons__calc {
    border: 3px solid #00a7d6;
    padding: 20px 65px;
    color: #00a7d6;
    background: white;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in; }
    .main-buttons__calc:hover {
      background: #00a7d6;
      color: #fff; }
  .main-buttons__plans {
    background: #cccccc;
    padding: 20px 40px;
    color: white;
    border: 2px solid #dbdbdb; }
    .main-buttons__plans:hover {
      background: #aa9d9d;
      color: #fff;
      -webkit-transition: all .4s ease-in;
      transition: all .4s ease-in; }

.main {
  padding-bottom: 500px; }
  .main__left {
    width: 50%;
    float: left;
    color: white;
    padding-bottom: 150px; }
    .main__left .left__box {
      background: #00a7d6;
      padding: 25px 30px 0 0;
      text-align: right;
      min-height: 650px;
      margin-bottom: 20px;
      border: 1px solid #a0def0; }
      .main__left .left__box .left__list {
        width: 70%;
        float: right;
        text-align: right;
        clear: both;
        margin-bottom: 35px; }
        .main__left .left__box .left__list .left__time {
          float: left; }
          .main__left .left__box .left__list .left__time .left__radio {
            text-align: center; }
        .main__left .left__box .left__list .left__icon {
          display: table-cell;
          vertical-align: top;
          padding-top: 10px; }
        .main__left .left__box .left__list .left__content {
          display: table-cell;
          vertical-align: top;
          text-align: left;
          padding-left: 25px;
          padding-top: 0;
          width: 100%; }
          .main__left .left__box .left__list .left__content .left__header {
            font-size: 1.313rem; }
          .main__left .left__box .left__list .left__content .left__btn {
            font-size: 1.125rem;
            border: 2px solid #4dc2e2;
            padding: 10px 25px;
            background: #00a7d6;
            color: white;
            margin: 10px 0; }
          .main__left .left__box .left__list .left__content .left__range input {
            width: 100%;
            background: #00a7d6 !important; }
          .main__left .left__box .left__list .left__content .left__time:last-child {
            margin-right: 0; }
          .main__left .left__box .left__list .left__content .left__time {
            margin-right: 21px; }
            .main__left .left__box .left__list .left__content .left__time label.left__btn {
              display: block;
              font-size: 0.875rem;
              padding: 10px 15px; }
              .main__left .left__box .left__list .left__content .left__time label.left__btn:hover {
                cursor: pointer; }
            .main__left .left__box .left__list .left__content .left__time .left__radio {
              text-align: center;
              position: relative; }
    .main__left .left__bottom {
      color: #666666;
      font-size: 0.938rem;
      font-weight: 300;
      text-align: right; }
  .main__right {
    width: 40%;
    min-height: 650px;
    float: left;
    padding-left: 25px; }
    .main__right .right__header {
      font-family: "Roboto", sans-serif;
      color: #00a7d6;
      font-size: 1.313rem;
      font-weight: bold;
      text-align: left;
      padding-top: 10px;
      margin-bottom: 30px; }
    .main__right .right__plans-btn {
      margin-bottom: 20px; }
      .main__right .right__plans-btn .plans-btn__list .plans-btn__item {
        display: inline-block;
        margin-right: 1%;
        padding: 15px 20px;
        border: 3px solid #00a7d6;
        color: #00a7d6;
        font-size: 0.875rem;
        font-weight: bold;
        text-align: center; }
        .main__right .right__plans-btn .plans-btn__list .plans-btn__item.basic {
          position: relative;
          border: 3px solid #b2e4f3;
          color: #00a7d6; }
        .main__right .right__plans-btn .plans-btn__list .plans-btn__item.standart {
          position: relative;
          border: 3px solid #b2e4f3;
          color: #00a7d6; }
        .main__right .right__plans-btn .plans-btn__list .plans-btn__item.premium, .main__right .right__plans-btn .plans-btn__list .plans-btn__item.vip {
          border-radius: 25px;
          border: 3px solid #b2e4f3; }
        .main__right .right__plans-btn .plans-btn__list .plans-btn__item.vip {
          padding: 15px 40px; }
        .main__right .right__plans-btn .plans-btn__list .plans-btn__item:hover {
          cursor: pointer; }
    .main__right .right__coast {
      margin-bottom: 42px;
      color: #5b5e67;
      font-size: 1.313rem;
      font-weight: bold;
      text-align: left; }
      .main__right .right__coast .coats__span {
        color: #00a7d6; }
    .main__right .right_table {
      width: 450px;
      border-collapse: collapse;
      border: 1px solid #efefef;
      padding-left: 27px;
      font-size: 0.938rem;
      margin-bottom: 50px; }
      .main__right .right_table tr {
        border: 2px solid #efefef; }
        .main__right .right_table tr td {
          padding: 11px 27px; }
        .main__right .right_table tr td:nth-child(even) {
          text-align: center;
          color: #00a7d6;
          font-weight: bold; }
    .main__right .right__bottom {
      text-align: left; }
      .main__right .right__bottom .bottom__header {
        color: #5b5e67;
        font-size: 1.625rem;
        margin-bottom: 5px;
        font-weight: 300; }
      .main__right .right__bottom .bottom__subheader {
        color: #b3b3b3;
        font-size: 1rem; }
      .main__right .right__bottom .bottom__total {
        color: #00a7d6;
        font-size: 2.438rem;
        font-weight: 700;
        margin-bottom: 50px; }
      .main__right .right__bottom .bottom__btn {
        color: #00a7d6;
        font-size: 1.313rem;
        font-weight: 700;
        padding: 18px 84px 18px 74px;
        border: 3px solid #00a7d6;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: all .4s ease-in;
        transition: all .4s ease-in; }
        .main__right .right__bottom .bottom__btn:hover {
          background: #00a7d6;
          color: #fff; }

.plans-btn__item-checked {
  background: #00a7d6 !important;
  color: white !important;
  border: 3px solid #00a7d6 !important; }
  .plans-btn__item-checked:after {
    position: absolute;
    top: 46px;
    left: 36px;
    content: '';
    background: url("../img/checked_plan.png") no-repeat;
    width: 27px;
    height: 14px; }

.plans-btn__item-checked-pre-vip {
  border: 3px solid #00a7d6 !important; }

.basicDisabled {
  border: 3px solid #d9d9d9 !important;
  color: #d9d9d9 !important; }
