<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Расчет стоимости</title>
    </head>

    <body>
        <div class="wrapper">
            <header class="header">
                <div class="container">
                    <div class="header__box">
                        <h1 class="header__h1">Расчет стоимости</h1>
                        
                        <div class="header__under-line">
                            <span class="header__under-bold"></span>
                            <span class="header__under-thin"></span>
                        </div>
                        
                        <p class="header__subheader">
                            Чтобы подобрать подходящий тарифный план<br>
                            воспользуйтесь простым калькулятором стоимости<br>
                            или выберите тарифный план из списка.
                        </p>
                    </div>
                </div>
                
                <div class="header__bottom"></div>
            </header>

            <section class="main-buttons">
                <div class="main-buttons__left">
                    <button class="main-buttons__calc">Калькулятор</button>
                </div>
                
                <div class="main-buttons__right">  
                    <button class="main-buttons__plans">Тарифные планы</button>
                </div>
            </section>

            <main class="main" id="calc">
                <div class="main__left">
                    <div class="left__box">
                        <div class="left__list">
                            <div class="left__icon">
                                <img src="img/amout_comp.svg" alt="Количество компьютеров">
                            </div>
                            <div class="left__content">
                                <div class="left__header">Количество компьютеров</div>
                                <button class="left__btn">{{ amountComp }} шт.</button>
                                <div class="left__range">
                                    <input 
                                        type="range"
                                        v-model="amountComp"
                                        min="0" 
                                        max="10"
                                        step="1"
                                        value="{{amountComp}}"
                                        v-on:input="rangeComp($event)"
                                    > 
                                </div> 
                            </div>
                            
                        </div>

                        <div class="left__list">
                            <div class="left__icon">
                                <img src="img/hours.svg" alt="Режим работы специалиста">
                            </div>
                            <div class="left__content">
                                <div class="left__header">Режим работы специалиста</div>
                                <div class="left__time"> 
                                    <label for="time_one" class="left__btn">
                                        9:00-18:00
                                    </label>
                                    <div class="left__radio">
                                        <input 
                                            id="time_one"
                                            type="radio"
                                            name="time"
                                            v-on:click="console.log('click')"
                                        > 
                                    </div>
                                </div>

                                <div class="left__time"> 
                                    <label for="time_two" class="left__btn">
                                        9:00-20:00
                                    </label>
                                    <div class="left__radio">
                                        <input 
                                            id="time_two"
                                            type="radio"
                                            name="time"
                                            v-on:click="console.log('click')"
                                        > 
                                    </div>
                                </div>
                                <div class="left__time"> 
                                    <label for="time_three" class="left__btn">
                                        Круглосуточно
                                    </label>
                                    <div class="left__radio">
                                        <input 
                                            id="time_three"
                                            type="radio"
                                            name="time"
                                            v-on:click="console.log('click')"
                                        > 
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div class="left__list">
                            <div class="left__icon">
                                <img src="img/servers.svg" alt="Количество серверов">
                            </div>
                            <div class="left__content">
                                <div class="left__header">Количество серверов</div>
                                <button class="left__btn">{{ amountServer }} шт.</button>
                                <div class="left__range">
                                    <input 
                                        type="range"
                                        v-model="amountServer"
                                        min="0" 
                                        max="10"
                                        step="1"
                                        value="{{amountServer}}"
                                        v-on:input="rangeServer($event)"
                                    > 
                                </div>
                            </div> 
                            
                        </div>
                    </div>
                    <div class="left__bottom">
                        <p>* Каждый следующий сервер - 490 рублей</p>
                        <p>Стоимость обслуживания 1 компьютера - 490 рублей</p>
                    </div>
                </div>
                <div class="main__right">
                    <h3 class="right__header">Вам подходят тарифные планы</h3>
                    <div class="right__plans-btn">
                        <ul class="plans-btn__list">
                            <li class="plans-btn__item basic">Базовый</li>
                            <li class="plans-btn__item standart">Стандарт</li>
                            <li class="plans-btn__item premium">Премиум</li>
                            <li class="plans-btn__item vip">VIP</li>
                        </ul>
                    </div>
                    <div class="right__coast">
                        Стоимость тарифа <span class="coats__span">2990 руб.</span>
                    </div>

                    <table class="right_table">
                        <tr>
                            <td>Плановые выезды</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Экстренные выезды</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Время реакции</td>
                            <td>8 часов</td>
                        </tr>
                        <tr>
                            <td>Время решения проблемы</td>
                            <td>16 часов</td>
                        </tr>
                        <tr>
                            <td>Рабочее время</td>
                            <td>9:00-18:00</td>
                        </tr>
                        <tr>
                            <td>Коэффициент удаленности</td>
                            <td>1-1,2</td>
                        </tr>
                        <tr>
                            <td>Количество техники</td>
                            <td> > 15шт.*</td>
                        </tr>
                        <tr>
                            <td>Обслуживание сервера</td>
                            <td>1300 руб</td>
                        </tr>
                        <tr>
                            <td>Проектный мониторинг</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Закрепленный инженер</td>
                            <td>-</td>
                        </tr>
                    </table>

                    <div class="right__bottom">
                        <h3 class="bottom__header">
                            Предварительная стоимость:
                        </h3>
                        <div class="bottom__subheader">
                        с учетом количества компьютеров
                        </div>
                        <div class="bottom__total">{{ (+amountServer + +amountComp) * 490 }} рублей</div>
                        <a href="#" class="bottom__btn">Заказать</a>
                    </div>  
                </div>
            </main>
        </div>

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/vue.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>