// Fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700&subset=cyrillic');

$bg-color: rgb(255, 255, 255);
$font-color: #000;
$primary-color: rgb(0, 167, 214);
$bg-font: 'Fira Sans', sans-serif;