// Fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

$bg-color: rgb(255, 255, 255);
$font-color: #000;
$primary-color: #00a7d6;
$main-font: 'Fira Sans', sans-serif;
$second-font: 'Roboto', sans-serif;
$btn-border: #4dc2e2;