// Main Sass File

// Variables
@import 'variables';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


body {
  background-color: $bg-color;
  color: $font-color;
  font-family: $bg-font;
  font-size: 16px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background: $primary-color;
  color: $bg-color;
  display: table;

  &__box {
    display: table-cell;
    vertical-align: middle;
    height: 215px;
  }

  &__h1 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 18px;
    padding-bottom: 0;

    &:after {
      content: "";
      display: block;
      margin-top: 10px;
      width: 55px;
      background-color: $bg-color;
      height: 3px;
  
    }
  }

  &__subheader {
    font-size: 1.3125rem;

    
  }

  &__bottom {
    background: url('../img/line_under_header.png') no-repeat center;
    width: 100%;
    height: 61px;
  }
}

.main-buttons {
  background: $bg-color;
  width: 100%;
  display: table;
  height: 100px;

  button {
    padding: 15px 40px;
    outline: none;
  }

  &__left {
    float: left;
    width: 50%;
    text-align: right;
    line-height: 100px;
  }

  &__right {
    float: left;
    width: 50%;
    text-align: left;
    line-height: 100px;
    padding-left: 2%;
  }

  &__calc {
    border: 2px solid $primary-color;
    color: $primary-color;
    background: $bg-color;
  }

  &__plans {
    background: grey;
    color: $bg-color;
    border: 2px solid grey;
    border: none;
  }
}

.main {
  &__left {
    width: 50%;
    float: left;
    color: $bg-color;
    padding-bottom: 150px;

    .left__box {
      background: $primary-color;
      padding: 25px 25px 0 0;
      text-align: right;
      height: 500px;
      margin-bottom: 20px;

      .left__list {
        width: 50%;
        float: right;
        clear: both;

        .left__time {
          float: left;

          .left__radio {
            text-align: center;
          }
        }

        .left__icon {
          display: table-cell;
        }
        
        .left__content {
          display: table-cell;
          text-align: left;
          padding-left: 15px;
          
          .left__btn {
            border: 2px solid #ccc;
            padding: 5px 15px;
            background: $primary-color;
            color: $bg-color;
            margin: 10px 0;
          }
        }
      }
    }
    .left__bottom {
      background: $bg-color;
      color: #000;
    }
  }

  &__right {
    width: 40%;
    min-height: 500px;
    background: #f4f4f4;
    float: left;
    padding-left: 25px;

    .right__plans-btn {
      .plans-btn__list {
        .plans-btn__item {
          float: left;
          margin-right: 2%;
          padding: 10px;
          border: 2px solid $primary-color;
          
        }
      }
    }

    .right_table {
      width:100%;
      border-collapse:collapse;
      border: 1px solid $primary-color;

      tr {
        border: 1px solid $primary-color;

        td {
          padding: 10px 0;
        }
      }
    }
  }

  
}